#preload-01 { background: url(./assets/aidkit_360.png) no-repeat -9999px -9999px; }
#preload-02 { background: url(./assets/alien.png) no-repeat -9999px -9999px; }
#preload-03 { background: url(./assets/background_360.png) no-repeat -9999px -9999px; }
#preload-04 { background: url(./assets/background_2_360.png) no-repeat -9999px -9999px; }
#preload-05 { background: url(./assets/battery_360.png) no-repeat -9999px -9999px; }
#preload-06 { background: url(./assets/bullet.png) no-repeat -9999px -9999px; }
#preload-07 { background: url(./assets/helikopter_yellow.png) no-repeat -9999px -9999px; }